.btn {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  &:active {
    background-color: #0062cc;
    border-color: #005cbf;
  }
  &:disabled {
    background-color: gray;
    border-color: black;
    cursor: not-allowed;
  }
}
